@import "tailwindcss";


.input-text{
    @apply w-10/12 h-8 bg-white border border-black px-1;
}

.form-container{
    @apply w-full bg-green-400 grid grid-cols-4 p-10! gap-4;
}

.time-container{
    @apply w-10/12 h-8 bg-white border border-black px-5! flex items-center;
}

.time-slot-props{
    @apply w-full h-full bg-white p-0 m-0;
}

.per-grid-container{
    @apply w-full bg-red-500 flex justify-between p-3!;
}

.image-container{
    @apply bg-red-400 w-full h-full;
}

.image-preview{
    @apply w-full aspect-3/5;
}

